:root {
    --header-color: #212121;
    --title-color:#212121;
    --text-color:#757575;
    --btn-color:#2196F3;
    --second-title-color:#FFFFFF;
    --logo-colar:#2196F3;
    --header-link-color:#757575;
    --second-btn-color:#212121;
}
img {
  display: block;
}

* {
  box-sizing: border-box;
}
address {
  font-style: normal;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 0;
}


body{
font-family: 'Roboto', sans-serif;
color: #212121;

}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
                                          /*header*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}
.logo {font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-colar);
    width: 145px;
    height: 31px;
  }
  .logo {
    margin-right: 70px;
  }
    .logo-accent {
        color: black;
    }
    .logo-accent-two{
      color: #FFFFFF;
    }
    .header-list {
      display: flex;
    }
    .header-nav {
      display: flex;
      align-items: center;
    }
    .header .container {
     display: flex;
     align-items: center;
    }
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
    
    color: var(--header-color);
  }

  .header-item {
   margin-right: 50px;

  }
  .header-item:last-child {
    margin-right: 0;
  }
  .header-mail {
      
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--header-link-color);
  margin-right: 70px;
  }
  .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--header-link-color);
  }
  .header-connect {
    margin-left: auto;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--btn-color);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--btn-color);
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--btn-color);
  }

  .business-btn:hover,
  .business-btn:focus {
    background: var(--btn-color);
  }
  .main-btn:hover,
  .main-btn:focus {
    background: var(--btn-color);
  }
  .footer-link-place:hover,
  .footer-link-place:focus {
    color: var(--btn-color);
  }
  .footer-mail:hover,
  .footer-mail:focus {
    color: var(--btn-color);
  }
  .footer-tel:hover,
  .footer-tel:focus {
    color: var(--btn-color);

  }
                                         /*main*/
 .business{
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
 }                                        
.main-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
color:var(--second-title-color);
text-align: center;
margin-bottom: 30px;
width: 696px;
margin-left: auto;
margin-right: auto;
}


  .business-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
  }   
  .option {
    padding-top: 94px;
    padding-bottom: 94px;
  }
    .option-list {
     display: flex;

    }
    .option-item:not(:last-child) {
      margin-right: 30px;
    }
    .option-item {
      width: 270px;
    }
  
  .option-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
  } 
  .option-iyem-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }     
  .work {
    padding-bottom: 94px;
  }
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
    text-align: center;
  }   
  .work-list {
   display: flex;
  }
  .work-item:not(:last-child) {
   margin-right: 30px;

  } 
  
  .hero {
    background: #E5E5E5;
    padding-top: 94px;
    padding-bottom: 94px; 
  }
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
  }  
  .hero-list {
    display: flex;
     margin: -15px;
  }
  /* .hero-item:not(:last-child) {
    margin-right: 30px; 

  } */
  .hero-item {
    /* flex-basic: calc((100% - 120px) / 4); */
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .about-people {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #FFFFFF;
  }

  .hero-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }     
  .hero-work {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }   
                                    /*footer*/
   .footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px; 
   }
   .footer-list {
     margin-top: 20px;
   }

   .footer-link-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
   }
   .footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
   }
   .footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
   }
   .footer-item:not(:last-child) {
     margin-bottom: 9px;

   }              
  


                            /*main-portfolio*/
  .main-box {
    padding-top: 94px;
    padding-bottom: 94px;
  }                          
  .main-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--second-btn-color);
    padding: 6px 22px;
    border-radius: 4px;
  }  
  .main-list {
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
  }
  .main-item:not(:last-child) {
    margin-right: 8px;
  }
  .about-box {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
  }
  .box-list {
   display: flex;
   flex-wrap: wrap;
    margin: -15px;
  }
  .box-item {
    flex-basis: calc(100% / 9 - 30px);
     margin: 15px;
     
  }
  .box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
    
    
  }                                                   
  .box-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }    
  
 
  